
.page {
    overflow-x: hidden;
    overflow-y: hidden;
}

.top-border {
    background-color: darkorange;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-in 2s ease-in forwards;
}

.navbar-link, .navbar-link:visited {
    color: black; /* or any color you prefer */
}

.title {
    margin-top: 0px;
    text-align: center;
}

.logo {
    max-width: 500px;
    max-height: 500px;
    scale: 1.2;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

div > h5 {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    flex: 1;
    text-align: center;
    text-decoration: underline;
}

h5 {
    font-size: 17px;
    font-weight: bold;
}


.menu-container {
    text-align: center;
    background-color: orange;
    display: block;
    margin: 0 auto;  /* center ? */
    width: 80vw; /*This will give you the width of the page minus 30px on each side.*/
    max-width: 800;
    height: 1000px; 
    margin-bottom: 300px;
    border-radius: 10px;
    padding-top: 100px;
}

.story-container {
    background-color: orange;
    display: block;
    margin: 0 auto;  /* center ? */
    width: calc(100% - 60px); /*This give a margin the width of the page minus 30px on each side.*/
    height: 700px; /*  // Example height, adjust as necessary. */
    margin-bottom: 300px;
    border-radius: 10px;
    padding-top: 10px;
}

.element-container {
    background-color: orange;
    display: block;
    margin: 0 auto;  /* center ? */
    width: calc(100% - 60px); /*This give a margin the width of the page minus 30px on each side.*/
    height: 1000px; /*  // Example height, adjust as necessary. */
    margin-bottom: 300px;
    border-radius: 10px;
    padding-top: 10px;
}

.messages-container {
    background-color: rgba(245, 245, 245, 0.2);
    display: block;
    margin: 0 auto;  /* center ? */
    width: calc(100% - 60px); /*This give a margin the width of the page minus 30px on each side.*/
    height: 500px; /*  // Example height, adjust as necessary. */
    margin-top: 80px;
    margin-bottom: 300px;
    border-radius: 10px;
    padding-top: 0px;
}

.story {
    padding: 50px;
    padding-top: 40px;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.opener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Full viewport height */
    text-align: center; /* Center the text horizontally */
    padding-top: 10px; /*maybe also a media query */
  }

  .page-content {
    padding-bottom: 50px; /* Adjust this value as needed */
  }
  
  .bottom-button {
    margin-top: auto; /* Pushes the button to the bottom */
    margin-top: 50px;
    align-self: center; /* Center button horizontally */
    border: none;
    background: none;
  }

/*need to add queries for 1000px-700 for the aboust us section*/
.popup {

    margin-top: -50vh;
}

@media screen and (max-width: 750px) {
    .menu-container {
        height: 200px;
    }

}

@media screen and (max-width: 750px) and (min-width: 725px){
    .story-container {
        height: 1100px;
    }
}   

@media screen and (max-width: 725px) and (min-width: 660px){
    .story-container {
        height: 1200px;
    }
}

@media screen and (max-width: 660px) and (min-width: 630px) {
    .story-container {
        height: 1300px;
    }
}

@media screen and (max-width:630px) and (min-width: 600px){
    .story-container{
        height: 1400px;
    }
}

@media screen and (max-width: 600px) and (min-width: 565px){
    .story-container{
        height: 1500px;
    }
}

@media screen and (max-width: 565px) and (min-width: 542px){
    .story-container{
        height: 1600px;
    }
}

@media screen and (max-width: 542px) and (min-width: 518px){
    .story-container{
        height: 1700px;
    }
}

@media screen and (max-width: 518px){
    .story-container{
        height: 1800px;
    }
}